@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
}

:root {
  --bg-foreground: rgba(255, 185, 68, 0.7);
  --bg-background: rgb(255, 246, 234);
  --image-filter: drop-shadow(2px 4px 6px rgba(238, 238, 238, 0.667));
  --btn-bg: rgb(240, 0, 60);
  --btn-edge-bg: linear-gradient(
    to left,
    rgb(82, 0, 27) 0%,
    rgb(163, 0, 54) 8%,
    rgb(163, 0, 54) 92%,
    rgb(82, 0, 27) 100%
  );
  --reset-btn-color: rgb(31, 41, 55);
}

button {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

main {
  background-color: var(--bg-foreground);
  background-image: radial-gradient(
      circle at center,
      var(--bg-background),
      var(--bg-foreground)
    ),
    repeating-radial-gradient(
      circle at center,
      var(--bg-background),
      var(--bg-background),
      35px,
      transparent 80px,
      transparent 35px
    );
  background-blend-mode: multiply;
}

main img {
  filter: var(--image-filter);
}

.hide {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.shadow {
  background: rgba(0, 0, 0, 0.25);
  transition: all 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.edge {
  background: var(--btn-edge-bg);
}
.front {
  background: var(--btn-bg);
  transition: all 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
  outline: none;
}

.reset-btn {
  color: var(--reset-btn-color);
}

.textAnimation1,
.textAnimation {
  animation-delay: 300ms !important;
}

.textAnimation {
  animation: textAnimation 200ms ease-in forwards;
}
.textAnimation1 {
  animation: textAnimation1 200ms ease-in forwards;
}

@keyframes textAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textAnimation1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.active {
  animation: popOut 500ms ease-in-out forwards;
}

.non-active {
  animation: popIn 500ms ease-in-out forwards;
}

@keyframes popOut {
  0% {
    transform: rotate(-90deg) scale(0);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes popIn {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(90deg) scale(0);
  }
}

@media (prefers-color-scheme: dark) {
  main.dark {
    --bg-foreground: rgba(56, 51, 95, 0.7);
    --image-filter: saturate(0.6);
    --btn-bg: rgb(128, 61, 164);
    --btn-edge-bg: linear-gradient(
      to left,
      rgb(57, 52, 96) 0%,
      rgb(84, 57, 127) 8%,
      rgb(84, 57, 127) 92%,
      rgb(57, 52, 96) 100%
    );
    --reset-btn-color: rgb(255, 255, 255);
  }
}

main.dark {
  --bg-foreground: rgba(56, 51, 95, 0.7);
  --image-filter: saturate(0.6)
    drop-shadow(2px 4px 6px rgba(238, 238, 238, 0.667));
  --btn-bg: rgb(128, 61, 164);
  --btn-edge-bg: linear-gradient(
    to left,
    rgb(57, 52, 96) 0%,
    rgb(84, 57, 127) 8%,
    rgb(84, 57, 127) 92%,
    rgb(57, 52, 96) 100%
  );
  --reset-btn-color: rgb(255, 255, 255);
}

.language-picker-container::before {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
